/* 
font-family: 'Roboto', sans-serif;
font-family: 'RocknRoll One', sans-serif; 
*/

* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: Helvetica, Arial, sans-serif;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

main.pic {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-image: url("img/wood.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

/* HEADER */

.wrapper-header {
    height: 60px;
    width: 100vw;
}

/* PAGE BODY */

div.page-body {
    display: flex;
    flex-grow: 1;
    width: 100vw;
}

/* CONTAINER LEFT */

div.container-left {
    display: flex;
    min-width: 300px;
    justify-content: flex-end;
    align-items: flex-end;
    background-color: mediumpurple;
}

div.hello {
    height: 300px;
}

h1.hello {
    font-size: 64px;
    font-family: Helvetica, Arial, sans-serif;
    opacity: 10%;
}

/* CONTAINER CENTER */

div.container-center {
    display: flex;
    flex-grow: 1;
    background-color: peachpuff;
    flex-direction: column;
    /* justify-content: center; */
}

.container-center .content {
    width: 100%;
    height: 70%;
    background-color: teal;
    overflow: hidden;
}

.content h1,
h2 {
    /* color: white; */
    font-family: Helvetica, Arial, sans-serif;
    opacity: 99%;
}

.second-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15%;
    width: 100%;
    opacity: 99%;
}

.home {
    display: flex;
    flex-direction: column;
}

.about-me {
    display: flex;
    width: 100%;
    height: 100%;
    display: none;
}

div.skills {
    display: flex;
    width: 100%;
    height: 100%;
    display: none;
}

.my-projects {
    display: flex;
    width: 100%;
    height: 100%;
    display: none;
}

.Contact {
    display: flex;
    width: 100%;
    height: 100%;
    /* opacity: 99%; */
    display: none;
}

.pics-container {
    background-color: tomato;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    flex-direction: column;
}

.pics-container h2 {
    padding-top: 30px;
}


.pics-container img {
    height: auto;
    max-height: 450px;
    width: auto;
    max-width: 100%;
    opacity: 99%;
}

.about-me .pics-container img {
    display: none;
}

.about-me .pics-container img:first-child {
    display: block;
}

.skillpics {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: brown;
    width: 100%;
    height: 100%;
}

.skillpics span {
    display: flex;
    justify-content: center;
    background-color: cadetblue;
    width: 30%;
}

.skillpics img {
    height: 100px;
    width: auto;
    opacity: 99%;
}

.atributes {
    background-color: cadetblue;
    flex-grow: 1;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.atributes ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.atributes ul li {
    font-size: 22px;
    opacity: 99%;
    padding-left: 30px;
    line-height: 45px;
    list-style: none;
    cursor: default;
}

.atributes ul.interest li,
ul.projects li {
    cursor: pointer;
}

.atributes ul.interests li:hover,
ul.projects li:hover {
    color: yellow;
}

.atributes p {
    opacity: 99%;
    padding-left: 100px;
}

.atributes p.mainAtr {
    opacity: 50%;
    padding-bottom: 20px;
}

.atributes p.property {
    padding-bottom: 30px;
}

h1.center-home {
    font-size: 82px;
}

h2.center-home {
    padding-top: 14px;
}

/* CONTAINER RIGHT */

.container-right {
    display: flex;
    flex-direction: column;
    background-color: mediumseagreen;
    min-width: 300px;
}

.container-right .navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: olive;
    flex-grow: 1;
}

.container-right .navigation ul li {
    list-style: none;
    font-size: 18px;
    font-family: Helvetica, Arial, sans-serif;
    text-decoration: none;
    /* color: white; */
    cursor: pointer;
    opacity: 60%;
    line-height: 48px;
}

.container-right .navigation ul li:hover {
    opacity: 99%;
    color: yellow;
}

.media {
    height: 40px;
    width: 100%;
    background-color: mediumturquoise;
}

.media ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.media ul li a {
    font-size: 12px;
    opacity: 99%;
    text-decoration: none;
}

.navigation i {
    display: none;
}


footer {
    display: flex;
    width: 100%;
    height: 10px;
    background-color: chartreuse;
}



/* ******* MEDIA QUERIES ******** */

/* Large devices (large laptops and desktops, 1240px and down) */
@media only screen and (max-width: 1240px) {
    div.container-left {
        min-width: 250px;
    }

    div.container-right {
        min-width: 250px;
    }

    h1.hello {
        font-size: 52px;
    }

    h1.center-home {
        font-size: 64px;
    }

    h2.center-home {
        font-size: 18px;
    }

    .second-header h1 {
        font-size: 26px;
    }

    .pics-container {
        width: 60%;
    }

    .atributes {
        width: 40%;
    }

    .atributes ul li {
        font-size: 18px;
        padding-left: 20px;
        line-height: 20px;
        padding-bottom: 15px;
    }

    .atributes p {
        padding-left: 50px;
    }

    .atributes p.mainAtr {
        padding-bottom: 10px;
    }

    .atributes p.property {
        padding-bottom: 30px;
    }

    .skillpics img {
        height: 80px;
        width: auto;
        opacity: 99%;
    }

    .Contact .atributes {
        width: 50%;
    }

    .Contact .pics-container {
        width: 50%;
    }

    .pics-container h2 {
        font-size: 18px;
    }

}



/* Medium devices (landscape tablets, 992px and down) */
@media only screen and (max-width: 992px) {
    div.container-left {
        min-width: 50px;
    }

    div.container-right {
        min-width: 150px;
    }

    h1.hello {
        font-size: 0px;
    }

    h1.center-home {
        font-size: 54px;
    }

    h2.center-home {
        font-size: 16px;
    }

    .second-header h1 {
        font-size: 22px;
    }

    .pics-container {
        width: 60%;
    }

    .atributes {
        width: 40%;
    }

    .atributes ul li {
        font-size: 16px;
        padding-left: 20px;
        line-height: 20px;
        padding-bottom: 10px;
    }

    .skillpics img {
        height: 80px;
        width: auto;
        opacity: 99%;
    }

    .Contact .atributes {
        width: 50%;
    }

    .Contact .pics-container {
        width: 50%;
    }

    .pics-container h2 {
        font-size: 16px;
    }

    .atributes p {
        padding-left: 30px;
        font-size: 14px;
    }

    .atributes p.mainAtr {
        padding-bottom: 10px;
    }

    .atributes p.property {
        padding-bottom: 30px;
    }

    .media {
        height: 100px;
        width: 100%;
    }

    .media ul {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 100%;
    }

    .media ul li a {
        font-size: 12px;
        opacity: 99%;
        text-decoration: none;
    }

}

/* Small devices (portrait tablets and large phones, 768px and down) */
@media only screen and (max-width: 768px) {

    div.container-left {
        min-width: 0px;
    }

    div.container-right {
        min-width: 100px;
    }

    .home {
        padding-left: 50px;
    }

    h1.hello {
        font-size: 0px;
    }

    h1.center-home {
        font-size: 36px;
    }

    h2.center-home {
        font-size: 14px;
    }

    .second-header h1 {
        font-size: 18px;
    }

    .pics-container {
        width: 50%;
    }

    .pics-container img {
        max-height: 160px;
    }

    .atributes {
        width: 50%;
    }

    .atributes ul li {
        font-size: 12px;
        padding-left: 20px;
        line-height: 14px;
        padding-bottom: 10px;
    }

    .skillpics img {
        height: 40px;
    }

    .Contact .atributes {
        width: 50%;
    }

    .Contact .pics-container {
        width: 50%;
    }

    .pics-container h2 {
        font-size: 12px;
    }

    .atributes p {
        padding-left: 25px;
        font-size: 10px;
    }

    .atributes p.mainAtr {
        padding-bottom: 6px;
    }

    .atributes p.property {
        padding-bottom: 20px;
    }

    .navigation ul li {
        font-size: 14px;
        line-height: 32px;
    }

    .media {
        height: 60px;
    }

    .media ul {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 100%;
    }

    .media ul li {
        line-height: 6px;
        /* background-color: khaki; */
    }

    .media ul li a {
        font-size: 8px;
    }

}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    div.page-body {
        display: flex;
        flex-grow: 1;
        width: 100vw;
        flex-direction: column-reverse;
    }

    div.container-right {
        width: 100%;
        height: 60px;
        flex-direction: row;
    }

    .navigation .hamburger {
        background-color: violet;
        width: 80%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .navigation i {
        display: inline-block;
        opacity: 99%;
    }

    .navigation ul {
        display: none;
    }

    div.media {
        display: none;
    }

    .container-left {
        height: 0px;
    }

    .wrapper-header {
        display: none;
    }

    /* .container-right {
        display: flex;
        flex-direction: column;
        min-width: 300px;
    }
    
    .container-right .navigation ul li {
        list-style: none;
        font-size: 18px;
        font-family: Helvetica, Arial, sans-serif;
        text-decoration: none;
        cursor: pointer;
        opacity: 60%;
        line-height: 48px;
    } */

    h1.hello {
        font-size: 0px;
    }

    .home {
        padding-left: 20px;
        padding-right: 20px;
    }

    h1.center-home {
        font-size: 36px;
    }

    h2.center-home {
        font-size: 14px;
    }

    .second-header h1 {
        font-size: 18px;
    }

    .pics-container {
        width: 50%;
    }

    .pics-container img {
        max-height: 160px;
    }

    .atributes {
        width: 50%;
    }

    .atributes ul li {
        font-size: 12px;
        padding-left: 20px;
        line-height: 14px;
        padding-bottom: 10px;
    }

    .skillpics img {
        height: 40px;
    }

    .Contact .atributes {
        width: 50%;
    }

    .Contact .pics-container {
        width: 50%;
    }

    .pics-container h2 {
        font-size: 12px;
    }

    .atributes p {
        padding-left: 25px;
        font-size: 10px;
    }

    .atributes p.mainAtr {
        padding-bottom: 6px;
    }

    .atributes p.property {
        padding-bottom: 20px;
    }

    .navigation ul li {
        font-size: 14px;
        line-height: 32px;
    }

    .media {
        height: 60px;
    }

    .media ul {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 100%;
    }

    .media ul li {
        line-height: 6px;
        /* background-color: khaki; */
    }

    .media ul li a {
        font-size: 8px;
    }

    footer {
        display: flex;
        height: 50px;
        width: 100%;
        justify-content: center;
    }

    footer .footer {
        display: flex;
        width: 40%;
        height: 100%;
        justify-content: space-around;
        align-items: center;

    }

    footer .navCircle {
        background-color: white;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        opacity: 70%;
    }

    footer .navCircle .active {
        opacity: 99%;
    }
}